extends ../layout

block content
    .jumbotron
        .container(style="text-align: center;")
            h2 Asistente de decisión para la aplicación de fungicidas para el control de las enfermedades de fin de ciclo (EFC) en el cultivo de soja
            br
            p
              | A continuación podrá ingresar el resultado de los estudios preliminares para que la información sea analizada y así saber el resultado óptimo.
            br
            p
                a.btn.btn-primary.btn-lg(href="/analisis") Comenzar »
