extends ../layout

block content
    .jumbotron
        .container(style="text-align: center;")
            h2 Herramienta de apoyo o ayuda para facilitar el diagnóstico de la diabetes.
            br
            p
              | A continuación podrá ingresar el resultado de los estudios preliminares para que la información sea analizada y así obtener un diagnóstico.
            br
            p
                a.btn.btn-primary.btn-lg(href="/analisis") Comenzar »
