extends ../layout

block content
    .jumbotron
        .container(style="text-align: center;")
            h2 75.67 Sistemas Automáticos de Diagnóstico y Detección de Fallas I
            br
            h3 <b> Facultad de Ingeniería </b>
            h3 Universidad de Buenos Aires
            br
    .container
            .col-lg-10
                <h2>Integrantes</h2>
                br
                <table class="table table-bordered centered">
                <thead>
                <tr>
                <th>Apelido y Nombre</th>
                <th>Padrón</th>
                <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>Consoni, Ignacio Joaquín</td>
                <td>92410</td>
                <td>joaquinconsoni@gmail.com</td>
                </tr>
                <tr>
                <td>Extramiana, Federico </td>
                <td>93656</td>
                <td>extramiana@gmail.com</td>
                </tr>
                <tr>
                <td>Farina, Federico José</td>
                <td>90177</td>
                <td>federicojosefarina@gmail.com</td>
                </tr>
                </tbody>
                </table>