extends ../layout

block content
    .jumbotron
        .container(style="text-align: center;")
            h2 Asistente de decisión para la aplicación de fungicidas para el control de las enfermedades de fin de ciclo (EFC) en el cultivo de soja
            br
            p
                | El propósito del programa que se encuentra frente a usted, es el de servir como guía en la determinación de la necesidad o no de aplicar fungicidas en soja para el control de
                b  enfermedades de fin de ciclo (EFC)
                | . También tiene como propósito la validación de desiciones tomadas por Ingenieros Agrónomos sobre la aplicación de fungicidas en soja.
            p
                | El presente programa NO pretende suplantar al profesional en la realización de la tarea mencionada, solamente se intenta brindarle una base de conocimientos obtenida por medio de la
                a(href="http://oa.upm.es/1057/1/JOSE_DOMINGO_CARRILLO_VERDUN.pdf")  metodología IDEAL
                |  que lo ayude y acompañe en la realización de su tarea.
                b  El profesional es el usuario que va a tener este programa, NO los agropecuarios a quienes el experto entrevistará.
            p
                | En el uso del programa, será necesario que el experto que lo este usando cargue información que él deberá obtener del agropecuario entrevistado, con las herramientas que le provee el campo de su experticia (tales como entrevistas, mediciones de campo y diferentes tipos de técnicas consideradas como válidas por la profesión).
            p
                | Presentamos un sistema experto cuyo objetivo es determinar la conveniencia económica de la aplicación de fungicidas para las
                b  EFC
                |  de soja según los fatores del hospedante, del patógeno y del ambiente.
    .container
        .row(style="text-align: center;")
            .col-lg-6
                img.img-circle(src='/images/lotto.jpg')
                h2 Marco Lotto
                p
                    | <b> 91.967 </b>
                p
                    | <b> marcol91@gmail.com </b>
            .col-lg-6
                img.img-circle(src='/images/perezdittler.jpg')
                h2 Ezequiel Pérez Dittler
                p
                    | <b> 91.135 </b>
                p
                    | <b> ezeperez26@gmail.com </b>
