extends ../layout

block content
    .jumbotron
        .container(style="text-align: center;")
            h2 Asistente de decisión para la aplicación de fungicidas para el control de las enfermedades de fin de ciclo (EFC) en el cultivo de soja
            br
            p
                | El propósito del programa que se encuentra frente a usted, es el de servir como guía en la determinación de la necesidad o no de aplicar fungicidas en soja para el control de
                br
                b  enfermedades de fin de ciclo (EFC)
                | .
            p
                | El presente programa brinda una base de conocimientos obtenida por medio de la
                a(href="http://oa.upm.es/1057/1/JOSE_DOMINGO_CARRILLO_VERDUN.pdf")  metodología IDEAL
                |  que puede ser utilizado por los agropecuarios (propietarios de plantaciones o peones) para ayudarlos en la toma de desición de aplicar fungicidas. El Ingeniero Agrónomo puede utilizar este programa para validad la desición tomada sobre la aplicación de fungicidas en soja.
            p
                | El programa no sustituye completamente al experto. El usuario puede requerir asesoramiento posterior a la hora de elegir el tipo de fungicida y qué tecnica de aplicación utilizar.
            p
                | En el uso del programa, será necesario que el usuario que lo este usando posea un mínimo de conocimiento en ciclos de vida de la soja, los agentes patógenos que la afectan; y cargue información que él deberá obtener previamente, como el pronóstico de lluvias, lluvias ocurridas, si hay rotación de cultivo, sistema de labranza utilizado, calidad sanitaria de la semilla, presencia de
                b  EFC
                |  en siembras anteriores, destino de la semilla, presencia actual de síntomas en el lote.
            p
                | Presentamos un sistema experto cuyo objetivo es determinar la conveniencia económica de la aplicación de fungicidas para las
                b  EFC
                |  de soja según los factores del hospedante, del patógeno y del ambiente.
    .container
        .row(style="text-align: center;")
            .col-lg-6
                img.img-circle(src='/images/lotto.jpg')
                h2 Marco Lotto
                p
                    | <b> 91.967 </b>
                p
                    | <b> marcol91@gmail.com </b>
            .col-lg-6
                img.img-circle(src='/images/perezdittler.jpg')
                h2 Ezequiel Pérez Dittler
                p
                    | <b> 91.135 </b>
                p
                    | <b> ezeperez26@gmail.com </b>
